@{
    ViewData["Title"] = "500 Internal Server Error";
}

<h1>500 - Internal Server Error</h1>
<p>An unexpected error occurred on the server.</p>
<a href="@Url.Action("Index", "Home")">Go Back to the homepage</a>
